<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<div class="navbar">
<div>
    <header>
        Book
    </header>
    <div>
        <ul>
            <li><a href="index.html" >Index</a></li>
            <li><a href="authorsOverview.html" >authorOverview</a></li>
            <li><a href="index.html" ></a></li>
            <li><a href="index.html" ></a></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>